
GO
/****** Object:  StoredProcedure [dbo].[App_Accounts_List_IPM_Rpt]    Script Date: 24-03-2023 19:53:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[App_Accounts_List_IPM_Rpt] 280
ALTER Procedure [dbo].[App_Accounts_List_IPM_Rpt]
 @RecordKeyIds as varchar(max)=''
AS 
BEGIN
	SET NOCOUNT ON;
    IF @RECORDKEYIDS=''
	BEGIN

		SELECT  0 AS ACCOUNTID,     0 AS  ACCOUNTGROUPID, '' AS ACCOUNTCODE, '' AS REFACCOUNTCODE, '' AS ACCOUNTTYPE, '' AS ACCOUNTREGTYPE, '' AS ACCOUNTNAME, '' AS ACCOUNTALIAS, '' AS ACCOUNTDETAILS, '' AS ACCOUNTCATEGORYIDS,   0 AS  ACCOUNTALLIANCEID, 
		0 AS 	RECORDSTATUS, '' AS CREDITLIMIT, '' AS  DETAIL1, '' AS DETAIL2, '' AS DETAIL3, '' AS DETAIL4, '' AS DETAIL5, '' AS DETAIL6, '' AS DETAIL7, '' AS DETAIL8, '' AS DETAIL9, '' AS DETAIL10, '' AS DETAIL11, '' AS DETAIL12, '' AS BANKNAME, '' AS 
		BANKACNO, '' AS BANKSWIFT, '' AS BANKIFSCCODE, '' AS ACCOUNTIMAGE, '' AS ACCOUNTADDRESS, '' AS PINCODE, '' AS ACCOUNTPHONE, '' AS ACCOUNTMOBILE, '' AS ACCOUNTEMAIL, '' AS ACCOUNTALTEMAIL, '' AS ACCOUNTPASSWORD, '' AS ACCOUNTWEB, '' AS 
		MESSAGETYPE, '' AS MESSAGEPROMPT, '' AS REGISTRATIONDATE, '' AS DOB, '' AS PLACEOFBIRTH, '' AS NATIONALITY, '' AS FATHERNAME,'' AS SOCIALSECURITYNO,'' AS GENDER,'' AS PREFERREDLANGUAGE,'' AS BANKBRANCHNAME, '' AS MICRCODE,'' AS APPLICATIONDATE,
		'' AS	MODIFEDBY, '' AS MODIFEDDATE,''  AS GEOGRAPHICALNAME,'' AS GEOGRAPHICALNAME_PR, '' AS ACCOUNTADDRESS_PR,'' AS PINCODE_PR, '' AS PERCOUNTRYNAME,'' AS PERSTATE, '' AS PERCITY, '' AS PERZIPCODE, '' AS PRECOUNTRYNAME, '' AS PRESTATE, '' AS PRECITY, '' AS PREZIPCODE,'' AS TERITORYAPPFOR,'' as InternalIdentificationName,'' AS IPINumber,'' AS BANKSWIFT,'' AS CURRENCYNAME,'' AS FIRSTNAME,'' AS LASTNAME,
		'' AS PRECOUNTRYID,'' AS PRECOUNTRYNAME,'' AS PRESTATE,'' AS PRECITY,'' AS PREZIPCODE,'' AS PERCOUNTRYID,'' AS PERCOUNTRYNAME,'' AS PERSTATE,'' AS PERCITY,'' AS PERZIPCODE,
		'' AS ACCOUNTMOBILE_ALT, '' AS ROLLTYPEIDS,DBO.[GETROLLTYPENAMES] ('') AS ROLLTYPENAMES,'' AS ENTITYTYPE ,'' AS OVERSEASSOCIETYNAME, '' AS ASSOCIATIONNAME_INDIA,0 AS APPLICATIONSTATUS, 0 AS AUTHUSER,'' AS [APPROVEDATE],'' AS [PAYMENTDATE],'' AS [TENFFORM],'' as [BankAccountName]
		
	END
	ELSE
	BEGIN
		SELECT  ACCOUNTID,    ACCOUNTGROUPID,  ACCOUNTCODE,  REFACCOUNTCODE,  ACCOUNTTYPE,  ACCOUNTREGTYPE,  ACCOUNTNAME,  ACCOUNTALIAS,  ACCOUNTDETAILS,  ACCOUNTCATEGORYIDS,    ACCOUNTALLIANCEID, 
		RECORDSTATUS, CREDITLIMIT,   DETAIL1,  DETAIL2,  DETAIL3,  DETAIL4,  DETAIL5,  DETAIL6,  DETAIL7,  DETAIL8,  DETAIL9,  DETAIL10,  DETAIL11,  DETAIL12,  BANKNAME,  
		BANKACNO,  BANKSWIFT,  BANKIFSCCODE,  ACCOUNTIMAGE,  ACCOUNTADDRESS,  PINCODE,  ACCOUNTPHONE,  ACCOUNTMOBILE,  ACCOUNTEMAIL,ALT_EMAILID,  ACCOUNTPASSWORD,  ACCOUNTWEB,  
		MESSAGETYPE,  MESSAGEPROMPT,  REGISTRATIONDATE,  AA.DOB,  PLACEOFBIRTH,  NATIONALITY,FATHERNAME,SOCIALSECURITYNO,GENDER, PREFERREDLANGUAGE, BANKBRANCHNAME,  MICRCODE,REPLACE(CONVERT(VARCHAR(11),AA.CREATEDATE,106), ' ','-') AS APPLICATIONDATE,
		MODIFEDBY,MODIFEDDATE,GEOGRAPHICALNAME,GEOGRAPHICALNAME_PR, ACCOUNTADDRESS_PR, PINCODE_PR,PERCOUNTRYNAME,PERSTATE,PERCITY,PERZIPCODE,PRECOUNTRYNAME,PRESTATE,PRECITY,PREZIPCODE,TERITORYAPPFOR,INTERNALIDENTIFICATIONNAME,IPINUMBER,BANKSWIFT,CURRENCYNAME,FIRSTNAME,LASTNAME,
		PRECOUNTRYID,PRECOUNTRYNAME,PRESTATE,PRECITY,PREZIPCODE,PERCOUNTRYID,PERCOUNTRYNAME,PERSTATE, PERCITY,PERZIPCODE,
		ACCOUNTMOBILE_ALT,  ROLLTYPEIDS,DBO.[GETROLLTYPENAMES] (ROLLTYPEIDS) AS ROLLTYPENAMES,ISNULL(ENTITYTYPE,'') AS ENTITYTYPE, OVERSEASSOCIETYNAME,  ASSOCIATIONNAME_INDIA, APPLICATIONSTATUS,ISNULL(OA0.USERID,0) AS AUTHUSER,OA1.APPROVEDATE, OA2.PaymentDate,AA.TENFFORM,BankAccountName
		FROM  APP_ACCOUNTS AS AA WITH (NOLOCK) 
		OUTER APPLY
		(
			--SELECT TOP 1 USERID FROM APP_USERS AU (NOLOCK)
			--WHERE USERID IN 
			--(			
			--	SELECT * FROM DBO.CSVTOTABLE(
			--		(
			--			SELECT DISTINCT ABA.USERIDS FROM APP_BOOKMASTER_AUTHORIZATION ABA 
			--			INNER JOIN APP_BOOKMASTER AB ON (AB.BOOKID = ABA.BOOKID AND  ABA.AUTHORIZATIONLEVEL=AB.AUTHORIZATIONLEVEL)
			--			INNER JOIN APP_ACCOUNTS_APPROVALLOG APL
			--			 ON (APL.BOOKID = AB.BOOKID AND APP_STATUS = 'A' and apl.AuthorizationLevel=AB.AUTHORIZATIONLEVEL)
			--			WHERE APL.ACCOUNTID	 = AA.ACCOUNTID
			--		)
			--	)
			--) 
			Select top 1 CreatedById as UserId from  APP_ACCOUNTS_APPROVALLOG AP
						INNER JOIN APP_BOOKMASTER AB ON (AB.BOOKID = AP.BOOKID AND  AP.AUTHORIZATIONLEVEL=AB.AUTHORIZATIONLEVEL)
						where AP.ACCOUNTID	 =  AA.ACCOUNTID and AP.App_Status='A'

		)OA0
		OUTER APPLY
		(
			SELECT top 1   CONVERT(NVARCHAR,APL.CreateDate,103) AS [APPROVEDATE] FROM APP_BOOKMASTER_AUTHORIZATION ABA 
			INNER JOIN APP_BOOKMASTER AB ON (AB.BOOKID = ABA.BOOKID )
			INNER JOIN APP_ACCOUNTS_APPROVALLOG APL ON (APL.BOOKID = AB.BOOKID AND APP_STATUS = 'A' and apl.AuthorizationLevel=AB.AUTHORIZATIONLEVEL)
			WHERE APL.ACCOUNTID	 = AA.ACCOUNTID  AND  ABA.AUTHORIZATIONLEVEL=AB.AUTHORIZATIONLEVEL
			order by APL.CreateDate desc
		)OA1
		OUTER APPLY
		(
			SELECT top 1 PaymentDate from App_Accounts_RegPayment where AccountId=AA.ACCOUNTID
		)OA2
		WHERE  AA.ACCOUNTID IN (SELECT SID FROM DBO.CSVTOTABLE(@RECORDKEYIDS)) 
	END	
END





